* {
    box-sizing: border-box;
}

#userText {
    height: 250px;
    width: 85vw;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
