* {
    box-sizing: border-box;
}

#userText {
    height: 250px;
    width: 88vw;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    resize: none;
    padding: 0.7rem 0.7rem;
    border-radius: 5px;
}
